<!-- app/views/admin/dashboard.html.erb -->
<div class="flex h-screen bg-gray-100">
    <!-- Sidebar -->
    <%= render 'admin/sidebar' %>
  
    <!-- Main Content -->
    <div class="flex-1 p-8 overflow-y-auto">
      <!-- Table Section -->
      <h2 class="text-xl font-bold text-gray-800 mb-8">Welcome Admin</h2>

    </div>
  </div>
  